h1 {
    width: auto;
    margin: auto;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: lightsalmon;
    border-radius: 300px;
    border-style: dashed;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
 }
 body {
     background-color: rgb(255, 182, 140);
 }
 h2 {
     width: 1500px;
     height: 100px;
     font-size: 28px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: white;
     text-align: center;
 }
 section {
     width: 16%;
     height: 234px;
     margin: auto;
     margin-bottom: 50px;
     background-color: rgb(233, 131, 97);
     border-bottom-left-radius: 50px;
     border-bottom-right-radius: 50px;
     border-top-left-radius: 50px;
     border-top-right-radius: 50px;
 }